.App {
  width:100%;
  height: 100%;
}
.main {
  width:1200px;
  height:1100px;
  margin:auto;
  position: absolute;
  top:0px;
  display: flex;
  align-items: center;
  right:0px;
  left:0px;
  bottom:0px;
  box-shadow:0px 0px 6px 0px #dedede;
  padding:0px;
}
.col {
  justify-content: space-between;
  display: flex;
  flex-flow: column;
  padding: 0px;
}
.row {
  margin-right:unset;
  margin-left:unset;
  display: flex;
  flex-flow: column;
}
.rootMain {
  display: flex;
  flex-flow: row;
  height:100%;
  width: 100%;
}
.headline {
  margin-bottom: 10px;
  font-weight: 700;
  color:#484848;
  font-size: 12px;
}
.input {
  width:100%;
  height:45px;
  padding-left:10px;
  border: 2px solid #EBEBEB;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: bold;
  outline: none;
  font-size: 12px;
  color:#757575;
}
.inputName {
  width:100%;
  text-transform: capitalize;
}
.inputPhone {
}
.inputPhone--Num {
  color:#484848;
  font-weight: bold;
}
.inputDate {
  width:100%;
}
.inputCMND {
  width: 100%;
}
.btnGroup {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  width: calc(100% - 80px);
}
.btn {
  width:30%;
  color:white;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  height:50px;
  font-size: 16px;
  font-weight: bold;
}
.btnSend {
  background-color:#ffffff;
  color:#E64D5D
}
.btnSend:hover {
  background-color: #ffffff;
  color:#E64D5D;
}
.btnSend:disabled {
  background-color: #ffffff;
  color:#E64D5D;
}
.btnReset {
  background-color:#ffffff;
  color:#E64D5D
}
.btnReset:hover {
  background-color:#ffffff;
  color:#E64D5D
}
.btnViewAll {
  font-size: 13px;
  background-color:#449af7;
  color:#ffffff;
}
.btnViewAll:hover {
  color:#ffffff;
  background-color:#007bff;
}
.textArea {
  padding:10px;
  color:#484848;
  font-weight: bold;
  padding-left:10px;
  border: 2px solid #EBEBEB;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  font-size: 12px;
  color:#757575;
}
.input--file {
  border:none;
  background:none;
  width:0.1px;
  height:0.1px;
}
.boxAddImage {
  width:100px;
  height:100px;
  border-width: 2px; 
  border-style:dashed;
  border-color: #dddd;
  background-image: url("./images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
  cursor: pointer;
  transition: 0.5s
}
.boxAddImage:hover {
  background-color: #ddd;
  opacity: 0.5;
  transition-property: background-color;
}

/* list page */
.listPage {
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.listItem {
  display: flex;
  flex-flow: column;
  box-shadow: 0px 0px 12px #ddd;
  padding:20px;
}
.listItem-image {
  width:250px;
  height:150px;
}
.title {
  font-weight: bold;
}
.listItem-des {
  max-width: 100%;
  word-wrap:break-word;
}

/* right content */
.contentRight {
  height: 100%;
  width:100%;
  background-color:#E64D5D;
  position: relative;
}
.pd-40 {
  padding:40px;
}
.validateHead {
  font-size: 45px;
  font-weight: bold;
  color:#ffffff;
  margin-bottom: 40px;
}
.checkList {
  width:100%;
  background-color:#ffffff;
  height: auto;
  padding-right:20px;
  padding-left:20px;
  padding-top:10px;
}
.checkList-headline {
  display: flex;
  flex-flow: column;
}
.checkList-headline__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  color:#757575;
}
.checkList-headline__content {
  font-size: 18px;
  font-weight: 600;
  width: 500px;
  letter-spacing: 0.5px;
  color:#757575;
}
.checkItem {
  color:#ff95a1;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.fa-check-circle {
  margin-right: 5px;
}
.active {
  color:#00d46e;
}
.checkList-content {
  height: 100%;
}
.boxImage {
  width: 100%;
  height: 300px;
  background-color:#ffffff;
  display: flex;
  padding:20px;
}
.previewImage {
  width: calc(100% - 20px);
  height: 100%;
  border:2px solid #ddd;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  margin:0 auto;
  
}
.previewImageTXT {
  font-size: 24px;
  font-weight: bold;
  color:#ddd;
}
.imagePreview {
  width:100%;
  height:100%;
}
/* datePicker */

.datePicker {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #ddd;
  position: absolute;
  top: 100px;
  z-index: 1;
}
.fa-times {
  width:40px;
  height: 40px;
  padding: 10px 14px;
  top:0px;
  font-size: 18px;
  right:0px;
  position: absolute;
  cursor: pointer;
}
.monthSelect {
  background:none;
  border:none;
  padding: 10px;
}
.datePicker-head {
  display: flex;
  justify-content: space-between
}
.divMonth, .divYear {
  width:40%;
  position: absolute;
  display: flex;
  flex-flow: column;

  justify-content: center;
  box-shadow: 0px 0px 5px #ddd;
  text-align: center;
  top:60px;
  z-index: 1;
  background-color: white
}
.divMonth {
  margin-left: 5%;
}
.divYear {
  right: 5%
}
.select-divMonth, .select-divYear {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #dddd;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.select-divMonth:hover, .select-divYear:hover {
  background-color:#72b4ea;
  color:#ffffff;
  transition: 0.5s;
}
.itemSelect {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}
.itemSelect:hover {
  background-color:#e64d5d;
  color:#ffffff;
  font-weight: bold;
}
.groupButton {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #dddd;
}
.btn-cancel-CD {
  background-color:#e64d5d;
  border:none;
  color:#ffffff;
  padding:10px 25px;
  font-weight: bold;
  position: absolute;
  right:10px;
  bottom:10px;
  transition: 0.5s;
}
.btn-cancel-CD:hover {
  background-color:#ff7b89;
  color:#ffffff;
  transition: 0.5s;
}
.datePicker-content {
  display: flex;
  flex-flow: column;
}
.nameWeekDate {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-row-gap: 10px;
   padding:10px;
}
.dateItem {
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #ddd;
  justify-self: center;
  cursor: pointer;
}
.titleDay {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 42px 42px 42px 42px 42px 42px 42px;
  grid-column-gap: 10px;
  padding: 10px;
  padding-top: 15px;
  justify-content: center;
}
.titleDay__day {
  width: 42px;
  text-align: center;
  font-weight: lighter;
}